body {
	margin: 0;
	padding: 0;
	background-color: #232323;
	color: white;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.headerContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	margin: 0;
	padding: 10px 0;
	font-weight: 400;
	background-color: #067e82;
	color: #eee;
}

h2 {
	margin: 8px 0;
	font-size: 25px;
}

#rgbHeader {
	font-size: 40px;
	font-weight: 700;
}

.navBar {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
	background-color: #eee;
	color: #2f6ae0;
	font-size: 20px;
	height: 40px;
	font-weight: 700;
}

.navButton {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 20px;
}

#newColors:hover,
#easy:hover,
#hard:hover {
	border: solid 1px #2f6ae0;
	cursor: pointer;
	font-size: 22px;
}

#tryAgain {
	color: #ed6410;
	font-weight: 400;
	font-size: 20px;
}

#easyOrHard {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	height: 100%;
}

#easy,
#hard {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0;
	padding: 0 20px;
}

.selectedMode {
	background-color: #2f6ae0;
	color: white;
	cursor: pointer;
}

.colorBoxesContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 800px;
	height: 350px;
	margin-top: 6%;
	padding-top: 40px;
	border-radius: 20px;
}

#upperColorBoxes,
#lowerColorBoxes {
	display: flex;
	justify-content: space-between;
	width: 90%;
	height: 50%;

}

.colorBoxes {
	width: 23%;
	height: 90%;
	/* background: white; */
	border-radius: 20px;
}

.colorBoxes:hover {
	cursor: pointer;
	border: solid white 3px;
}

@media only screen and (max-width: 1200px) {
	h2 {
		font-size: 20px;
	}

	#rgbHeader {
		font-size: 30px;
	}

	.navBar {
		font-size: 18px;
	}

	#newColors:hover,
	#easy:hover,
	#hard:hover {
		font-size: 20px;
	}

	.colorBoxesContainer {
		width: 650px;
		height: 300px;
	}
}

@media only screen and (max-width: 900px) {
	h2 {
		font-size: 18px;
	}

	#rgbHeader {
		font-size: 25px;
	}

	.navBar {
		font-size: 15px;
		height: 35px;
	}

	#newColors:hover,
	#easy:hover,
	#hard:hover {
		font-size: 18px;
	}

	.colorBoxesContainer {
		width: 550px;
		height: 250px;
	}
}

@media only screen and (max-width: 650px) {
	h2 {
		font-size: 15px;
	}

	#rgbHeader {
		font-size: 20px;
	}

	.navBar {
		font-size: 10px;
		height: 30px;
	}

	#newColors:hover,
	#easy:hover,
	#hard:hover {
		font-size: 15px;
	}

	.colorBoxesContainer {
		width: 430px;
		height: 200px;
		padding: 30px;
		/* margin-top: 30px; */
	}

}